body
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    position: relative;
    top: 25px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
#content1
{
    background-color: rgb(17, 0, 255);
    box-shadow: rgba(73, 73, 73, 0.5) 0px 54px 55px, rgba(73, 73, 73, 0.25) 0px -12px 30px, rgba(73, 73, 73, 0.25) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(73, 73, 73, 0.18) 0px -3px 5px;
    border-radius: 25px;
    position: relative;
    top: 15px;
    left: 500px;
    width: 400px;
    height: 575px;
    text-align: center;
}
#content2
{
    position: relative;
    background-color: white;
    color: black;
    width: 199px;
    height: 100px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
    left: 96px;
    padding-top: 5px;
    padding-left: 5px;
}
#weight, #height, #output
{
    position: relative;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 10px;
}
#output
{
    position: relative;
    top: 20px;
}
#weight, #height, #span1, #span2
{
    transition: 500ms;
}
#weight:focus , #height:focus
{
    width: 250px;
    transition: 500ms;
}

/*reponsiveness*/
@media only screen and (min-width:325px)
{
    #content1{
        left: 0px;
        width: 300px;
    }
    #content2{
        left: 46px;
    }
} 
@media only screen and (min-width:375px)
{
    #content1{
        left: 10px;
        width: 350px;
    }
    #content2{
        left: 71px;
    }
}
@media only screen and (min-width:400px)
{
    #content1{
        left: 20px;
    }
} 
@media only screen and (min-width:600px){
    #content1{
        left: 100px;
        width: 400px;
    }
    #content2{
        left: 96px;
    }
}
@media only screen and (min-width:720px){
    #content1{
        left: 160px;
    }
}
@media only screen and (min-width:768px){
    #content1{
        left: 184px;
    }
}
@media only screen and (min-width:900px){
    #content1{
        left: 250px;
    }
}
@media only screen and (min-width:1024px){
    #content1 {
        left: 350px;
    }
}
@media only screen and (min-width:1330px){
    #content1{
        left: 500px;
    }
}
@media only screen and (min-width:1532px){
    #content1{
        left: 566px;
        width: 500px;
        height: 700px;
    }
    #weight, #height, #output{
        width: 250px;
        height: 75px;
        font-size: 20px;
    }
    #content2{
        left: 121px;
        width: 250px;
        height: 150px;
        font-size: 20px;
    }
    #weight:focus , #height:focus{
        width: 300px;
        transition: 500ms;
    }
}
@media only screen and (min-width:2048px){
    #content1{
        top: 50px;
        left: 724px;
        width: 600px;
        height: 800px;
    }
    #weight, #height, #output{
        width: 300px;
        height: 100px;
        font-size: 24px;
        border-radius: 15px;
    }
    #content2{
        left: 145.5px;
        width: 300px;
        height: 200px;
        font-size: 24px;
    }
    #weight:focus , #height:focus{
        width: 350px;
        transition: 500ms;
    }
}
