body
{
    margin: 0;
    color: white;
    background-image: linear-gradient(180deg, rgb(111, 188, 194) 0%, rgb(169, 195, 197) 80%, 	rgb(189, 138, 72) 80% , rgb(247, 207, 156)100%);
}
#lbs
{
    display: none;
}
.container
{
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-image: radial-gradient(circle at top left,#fbff00 0% 8%, transparent 15% 100%);
}
.content1
{
    width: 400px;
    height: 500px;
    background-color: rgba(207, 207, 207, 0.37);
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 15px;
    box-shadow: 0px 0px 10px rgba(78, 78, 78, 0.3);
}
input , button
{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 300ms;
}
p
{
    position: relative;
    top: -15px;
}
#switch
{
    left: -25px;
}
#content2
{
    height: 50px;
    width: 188px;
    background-color: white;
    border-radius: 10px;
    color: rgb(165, 165, 165);
    padding: 10px 10px;
}
input:focus , button:hover
{
    width: 250px;
    transition: 500ms;
    box-shadow: 0px 0px 10px rgba(78, 78, 78, 0.8);
}
@media only screen and (max-width: 450px)
{
    .content1
    {
        width: 300px;
    }
}
@media only screen and (min-width: 1532px)
{
    .content1 
    {
        font-size: 24px;
        width: 650px;
        height: 650px;
    }
    #content2
    {
        width: 288px;
        height: 200px;
    }
    #switch
    {
        left: -40px;
    }
    input , button 
    {
        width: 300px;
        height: 75px;
    }
    input:focus , button:hover
    {
        width: 350px;
        transition: 500ms;
    }
    @keyframes change-size{
        50% { height: 600px;}
    }
}